<!DOCTYPEHTML>
<head>

</head>

li button {
  background-color:rgba(0,0,0,0);
  border: none;
}
li {
  list-style-type: none;
}
.trash-btn {
  display:none;
}
li:hover .trash-btn {
  display: inline;
}
head {
 style.background 
}
