  body{
    margin:20%;
    font-size:20px;
    background-color:rgb(75, 83, 32);
    font-color:black;
    font-family: 'New Rocker';}
    



div.review-div{
    margin-left:10px;
    margin-right:10px;
    border: solid 10px ;
    border-radious:10px;
    padding:5rem;
    border-color:rgba(93, 139, 55, 1);
    
  }

h1, h2 {
   font-family: 'New Rocker';
  font-size:30px
  }
p{
  font-family:'Almendra';
  
}
  hr{
   border-color:rgba(97, 119, 44, 0.9)
  }
a{
 color:white
}
